* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background: linear-gradient(#81ecec, #55efc4);
    color: black;
}

body {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

p,
button {
    font-size: 20px;
}

button {
    background: cyan;
    border: 1px solid cadetblue;
    margin: 10px 0 30px 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px;
    color: black;
}

#alert {
    width: 80%;
    text-align: center;
    background: linear-gradient(#74b9ff, #81ecec, #55efc4);
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 5px 0;
    color: black;
    position: absolute;
    display: none;
}